.container {
    padding-left: 20px;
    padding-right: 20px;
}

.space-items {
    /* justify-content: space-evenly; */
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

input.task-input {
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(55, 55, 55, 0.3);
}

input.task-input:focus {
    border-bottom: 1px solid blueviolet;
}

.base-button {
    border: none;
    /* flex: 0.2; */
    border-radius: 10px;
    color: white;
    height: 30px;
    margin-left: 10px;
    width: inherit;
    margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
    .base-button {
        margin-left: unset;
    }
}

.add-button {
    background-color: green;
}

.add-button:active {
    background-color: lightgreen;
}

.clear-button {
    background-color: red;
}

.clear-button-disabled {
    background-color: #808080;
}

.clear-button:active {
    background-color: crimson;
}

.input-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 30px;
}

.task-input {
    flex: 2;
    height: 30px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

a.button {
    text-decoration: none;
}

.header {
    /* height: 200; */
    width: 100%;
    background-color: rgba(16, 44, 17, 1);
    /* background-color:black; */
    display: flex;
    justify-content: flex-end;
    /* position: fixed; */
}

.saveFileView {
    all: unset;
    text-decoration: none;
    border: 2px solid seashell;
    margin: 10px 0 10px 10px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    /* visibility: hidden; */
    /* opacity: 0.81; */
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 0px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 250px;
    position: relative;
    transition: all 5s ease-in-out;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content:center */
}

.popup .close {
    position: absolute;
    top: 5px;
    right: 20px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    cursor: pointer;
    /* align-items: center; */
}

.popup .close:hover {
    color: #06D85F;
}

.filename {
    width: 100%;
    border: 1px solid rgb(209, 199, 199);
    border-radius: 5px;
    height: 50px;
    margin-bottom: 10px;
}

.append-date-text {
    font-size: 0.8em;
    font-style: oblique;
}

.date-toggle {
    /* background: #ff0038; */
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.popup-header {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
}

.upload-space {
    border: 2px dashed green;
    border-radius: 10px;
    height: 100px;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content:center;
}

.drag-drop-plus {
    color: green;
    font-size: 2.5rem;
}

.remove-margin {
    margin-bottom: 0;
}

.margin-left-remove{
    margin-left: 0;
}